BASE_URL=http://localhost:3002
BASE_FRONTEND_URL=http://localhost:3000
PORT=3002
DATABASE_URL=
JWT_SECRET=
EMAIL_USER=empresoftperu@gmail.com
API_RENIEC_DNI_URL=https://api.apis.net.pe/v2/reniec/dni
TOKEN_RENIEC_DNI=
VERIFY_EMAIL_PATH=verify-email/
RESET_PASSWORD_PATH=reset-password/
#Emails
BREVO_API_KEY=
EMAIL_EMPRESA=empresoftperu@gmail.com
APP_NAME=empresoftperusac